.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md

**/.**
**/*.md
**/*.map
**/tsconfig.json
**/tsconfig.**.json
**/tslint.json
**/yarn.lock
**/.bin
**/*.ts
**/@types/**
**/.github/**
**/test/**

server/src/**
client/src/**
server/node_modules/typescript/lib/tsc.js
server/node_modules/typescript/lib/tsserver.js
server/node_modules/typescript/lib/tsserverlibrary.js
server/node_modules/typescript/lib/typescriptServices.js
!server/node_modules/typescript/lib/*.d.ts
!server/lib/*.d.ts

.vsix
scripts
